# Virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]

# Credentials & secrets
credentials.json
.env

# ffmpeg temp files
*.mp3

# VSCode
.vscode/

# macOS
.DS_Store
EOFspeakloudtts_git*
