Flask==3.0.3
google-cloud-firestore==2.20.1
google-cloud-storage==3.1.0
google-cloud-texttospeech==2.26.0
Flask-Login==0.6.3
Flask-Talisman==1.1.0
Flask-Caching==2.1.0
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0
html5lib==1.1
newspaper3k==0.2.8
trafilatura==1.8.0
readability-lxml==0.8.1
python-dateutil==2.9.0.post0
humanize==4.9.0
pytest==8.1.1
flake8==7.0.0
black==24.3.0
tenacity==8.2.3
gunicorn==22.0.0
python-dotenv==1.0.0
google-cloud-tasks==2.14.0
feedgen==1.0.0
playwright==1.44.0