@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.base-200');
    background-image: radial-gradient(theme('colors.base-300') 1px, transparent 1px);
    background-size: 16px 16px;
  }
}
